---
import type { HTMLAttributes } from 'astro/types';
import { formatInstant } from '../../utils/format';
import Icon from '../Icon.astro';

export interface Props extends HTMLAttributes<'time'> {
  icon: string;
  time?: Date;
  formatter?: (date: Date) => string;
  label?: string;
}

const { icon, time, formatter = formatInstant, label, ...other } = Astro.props;
---

{
  time && (
    <time class="meta" datetime={time.toISOString()} {...other}>
      <Icon class="padded-icon-svg" src={icon} />
      {label && <span>{label}:</span>}
      {formatter(time)}
    </time>
  )
}

<style lang="stylus">
  @import './meta.styl';
</style>
